<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>DataBaseManagerEE</display-name>

    <!--Spring-->
   <context-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>/WEB-INF/application-context.xml</param-value>
   </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!--####### Servlets #########-->
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.program.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BasesNames</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.database.BasesNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BasesNames</servlet-name>
        <url-pattern>/basesnames.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectToServer</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.database.ConnectToServerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectToServer</servlet-name>
        <url-pattern>/connecttoserver.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Help</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.program.HelpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Help</servlet-name>
        <url-pattern>/help.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectToDatabase</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.database.ConnectToDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectToDatabase</servlet-name>
        <url-pattern>/connecttodatabase.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TableList</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.table.TableListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableList</servlet-name>
        <url-pattern>/tablelist.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowTable</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.table.ShowTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowTable</servlet-name>
        <url-pattern>/showtable.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisconnectDataBase</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.database.DisconnectDataBaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisconnectDataBase</servlet-name>
        <url-pattern>/disconnectdb.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateDatabase</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.database.CreateDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateDatabase</servlet-name>
        <url-pattern>/createdb.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DropDatabase</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.database.DropDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropDatabase</servlet-name>
        <url-pattern>/dropdb.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTableHeaders</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.table.GetTableHeadersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTableHeaders</servlet-name>
        <url-pattern>/gettableheaders.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRecord</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.table.AddRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRecord</servlet-name>
        <url-pattern>/addrecord.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClearTable</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.table.ClearTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearTable</servlet-name>
        <url-pattern>/cleartable.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DropTable</servlet-name>
        <servlet-class>my.project.juja.controller.web.servlets.table.DropTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropTable</servlet-name>
        <url-pattern>/droptable.do</url-pattern>
    </servlet-mapping>
</web-app>
